/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para o cabeçalho */
header {
    background-color: #3c8e4b;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f9bf3b;
}

/* Estilo para o conteúdo principal */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #3c8e4b;
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #3c8e4b;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para as seções */
#inicio {
    background-color: #f9bf3b;
    color: #333;
    padding: 20px;
}

#sobre {
    background-color: #ecf0f1;
    padding: 20px;
}

#programacao {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

#inscricoes {
    background-color: #e74c3c;
    color: #fff;
    padding: 20px;
}
